body {
    background-color: #CFC3A6;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 260px;
    background-color: #835252;
    padding-top: 44px;
    padding-bottom: 50px;
    margin-left: 471px auto;
    margin-right: 471px auto;
}

.logoName {
    margin-left: 700px;
    margin-right: 700px;
    width: 100%;
}

h1 { 
    text-align: center;
    font-size: 50px;
}

nav {
    padding-top: 56px;
    text-align: center;
}

.topBar {
    padding-left: 19px;
    padding-right: 19px;
}

main {
    height: 1017px;
    flex: 1;
    background-color: #8C6C8C;
    padding-bottom: 30px;
}

footer {
    padding-top: 36px;
    padding-bottom: 42px;
    background-color: #835252;
}

.mainDiv {
    margin: 0 auto;
}

.footer {
    height: 44px;
    margin-left: 471px;
    margin-right: 471px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#botNav {
    padding: 0;
    display: flex;
}

.bpic {
    height: 44px;
    width: 44px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}

.afoot {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #BB9A4E;
}

h2 {
    text-align: center;
    font-size: 30px;
    background: #BB9A4E;
    margin-left: 229px;
    margin-right: 229px;
    opacity: .8;
}

.dual {
    width: 616px;
    margin-top: 24px;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


article {
    margin-left: 170px;
    margin-right: 170px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}

h3 {
    text-align: center;
    font-size: 23px;
}

.articleP {
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: normal;
}


@media(max-width: 576px) {

header, main, .footer, .bpic, .mainDiv, h2, .dual, article, .logoName {
    margin: auto;
}
    h1, h2 {
        font-size: 35px;
    }
}

