body {
    background-color: #CFC3A6;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 166px;
    background-color: #835252;
    padding-top: 44px;
    padding-bottom: 50px;
    margin-left: 471px;
    margin-right: 471px;
}

nav {
    padding-top: 56px;
    text-align: center;
}

.topBar {
    padding-left: 19px;
    padding-right: 19px;
}

main {
    flex: 1;
    background-color: #8C6C8C;
    margin-left: 471px;
    margin-right: 471px;
    padding-bottom: 30px;
}

footer {
    padding-top: 36px;
    padding-bottom: 42px;
    background-color: #835252;
}

.footer {
    height: 44px;
    margin-left: 471px;
    margin-right: 471px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#botNav {
    padding: 0;
    display: flex;
}

.bpic {
    height: 44px;
    width: 44px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}

.afoot {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #BB9A4E;
}

h1 {
    text-align: center;
    background: #BB9A4E;
    margin-left: 229px;
    margin-right: 229px;
    opacity: .8;
}

.section-container {
    padding-top: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    height: 300px;
    width: 295px;
    object-fit: cover;
}

section {
    display: flex;
    margin-bottom: 13px;
}

.blogDiv {
    width: 558px;
    padding-top: 63px;
    padding-bottom: 20px;
    text-align: center;
}

img, section {
    border: 2px solid black;
}

button {
    padding: 8px 28px;
    background: #835252;
    color: #BB9A4E;
}