body {
    background-color: #CFC3A6;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 260px;
    background-color: #835252;
    padding-top: 44px;
    padding-bottom: 50px;
    margin-left: 471px;
    margin-right: 471px;
}

.logoName {
    margin-left: 310px;
    margin-right: 310px;
    width: 340px;
}

h1 { 
    text-align: center;
    font-size: 50px;
}

nav {
    padding-top: 56px;
    text-align: center;
}

.topBar {
    padding-left: 19px;
    padding-right: 19px;
}

main {
    flex: 1;
    background-color: #8C6C8C;
    padding-bottom: 30px;
    margin-left: 471px;
    margin-right: 471px;
}

footer {
    padding-top: 36px;
    padding-bottom: 42px;
    background-color: #835252;
}

.footer {
    height: 44px;
    margin-left: 471px;
    margin-right: 471px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#botNav {
    padding: 0;
    display: flex;
}

.bpic {
    height: 44px;
    width: 44px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}

.afoot {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #BB9A4E;
}

h2 {
    text-align: center;
    font-size: 30px;
    background: #BB9A4E;
    margin-left: 279px;
    margin-right: 279px;
    opacity: .8;
}
form {
    margin-left: 168px;
    margin-right: 168px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
}
#name, #address, #email, #phone, textarea {
    padding: 20px 10px;
    border: 2px solid black;
    margin-bottom: 37px;
}

.relative {
    text-align: center;
}

button {
    background: #835252;
    color: #BB9A4E;
    padding: 20px 28px;
    margin-bottom: 37px;
}