body {
    background-color: #CFC3A6;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 260px;
    background-color: #835252;
    padding-top: 44px;
    padding-bottom: 50px;
    margin-left: 471px auto;
    margin-right: 471px auto;
}

.logoName {
    margin-left: 310px auto;
    margin-right: 310px auto;
    width: 340px;
}

h1 { 
    text-align: center;
    font-size: 50px;
}

.navBar {
    padding-top: 56px;
    text-transform: uppercase;
}

nav {
    padding-top: 56px;
    text-align: center;
}

.topBar {
    padding-left: 19px;
    padding-right: 19px;
}

main {
    flex: 1;
    background-color: #8C6C8C;
    padding-bottom: 30px;
    margin-left: 471px auto;
    margin-right: 471px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding-top: 36px;
    padding-bottom: 42px;
    background-color: #835252;
}

.footer {
    height: 44px;
    margin-left: 471px auto;
    margin-right: 471px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#botNav {
    padding: 0;
    display: flex;
}

.bpic {
    height: 44px;
    width: 44px;
    margin-left: 10px auto;
    margin-right: 10px auto;
    border: 2px solid black;
}

.afoot {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #BB9A4E;
}

h2 {
    text-align: center;
    font-size: 30px;
    background: #BB9A4E;
    margin-left: 279px;
    margin-right: 279px;
    opacity: .8;
}

form {
    margin: 0 auto;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    width: 620px;
}
input, textarea {
    padding: 20px 10px;
    border: 2px solid black;
    margin-bottom: 37px;
    text-align: center;
}

.relative {
    text-align: center;
}

button {
    background: #835252;
    color: #BB9A4E;
    padding: 20px 28px;
    margin-bottom: 37px;
}


@media(max-width: 576px) {

    header, main, .footer, .bpic, form, h2, .logoName {
        margin: 0;
    }

    form {
        align-items: center;
        width: 480px;
    }
    
    input, textarea {
        width: 75%;
        margin-bottom: 20px;
        padding: 10px;
    }

    h1 {
        font-size: 35px;
    }
}
