body {
    background-color: #CFC3A6;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 260px;
    background-color: #835252;
    padding-top: 44px;
    padding-bottom: 50px;
    margin-left: 471px auto;
    margin-right: 471px auto;
}

.logoName {
    margin-left: 310px auto;
    margin-right: 310px auto;
    width: 340px;
}

h1 { 
    text-align: center;
    font-size: 50px;
}

nav {
    padding-top: 56px;
    text-align: center;
}

.topBar {
    padding-left: 19px;
    padding-right: 19px;
}

main {
    flex: 1;
    background-color: #8C6C8C;
    padding-bottom: 30px;
}

.gPics {
    margin-left: 471px auto;
    margin-right: 471px auto;
}

footer {
    padding-top: 36px;
    padding-bottom: 42px;
    background-color: #835252;
}

.footer {
    height: 44px;
    margin-left: 471px auto;
    margin-right: 471px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aPic, .galleryPics {
    height: 300px;
    width: 300px;
}

#botNav {
    padding: 0;
    display: flex;
}

.bpic {
    height: 44px;
    width: 44px;
    margin-left: 10px auto;
    margin-right: 10px auto;
    border: 2px solid black;
}

.afoot {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #BB9A4E;
}

h2 {
    text-align: center;
    font-size: 30px;
    background: #BB9A4E;
    margin-left: 229px auto;
    margin-right: 229px auto;
    opacity: .8;
}

section {
    display: grid;
    padding-top: 24px;
    margin: 0 469px auto;
    flex-direction: row;
    flex-wrap: wrap;
     grid-template-columns: 330px 330px 330px;
     grid-template-rows: 330px 330px 330px;
} 

img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

@media(max-width: 576px) {

    header, main, .footer, .bpic, h2, section, .logoName {
        margin: 0;
    }

    section {
        display: grid;
        flex-wrap: wrap;
         grid-template-columns: 50% 50%;
         grid-template-rows: 220px 220px 220px 220px 220px; 
    }
    img, .aPic, .galleryPics {
        height: 200px;
        width: 200px;
    }

    h1 {
        font-size: 35px;
    }
}