/* Color Scheme
French Lilac (#8C6C8C)
Rosy Brown (#B8898B)
Dark Vanilla (#CFC3A6)
Aztec Gold (#BB9A4E) 
Tuscan Red (#835252)
Royal Brown (#553B31) */

/* Main */

body {
    background-color: #CFC3A6;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 260px;
    background-color: #835252;
    padding-top: 44px;
    padding-bottom: 50px;
    margin-left: 471px auto;
    margin-right: 471px auto;
    text-align: center;
}

.logoName {
    margin-left: 310px;
    margin-right: 310px;
    width: 340px;
}

h1 { 
    text-align: center;
    font-size: 50px;
}

.navBar {
    padding-top: 56px;
    text-transform: uppercase;
}

ul {
    display: flex;
}

/* Hamburger */

/* #hamBar {
    width: 100%;
    position: absolute;
    text-align: center;
    transition: transform 400ms ease-in-out;
    transform: scale(1,0);
    transform-origin: top;
    color: black;
    text-decoration: none; 
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
}

.nav-toggle:checked ~ nav
{
transform:scale(1);
}

.nav-toggle
{
display:none;
}

.toggle-label 
{
position: absolute;
top:0; 
right:25%;
margin-right:1rem;
height: 50px;
display: flex;
align-items: center;

}

.toggle-label span
{
display: block;
background: white;
height: 2px;
width: 2rem;
position: relative;
}

.toggle-label span::before {
 bottom: .4rem;
 background: white;
 height: 2px;
 width: 2rem;
 content: '';
 position: absolute;
}

.toggle-label span::after
{
  top: .4rem;
  background: white;
height: 2px;
width: 2rem;
  content: '';
 position: absolute;
} */

/* Hamburger */

.topBar {
    padding-left: 19px;
    padding-right: 19px;
}

main {
    flex: 1;
    background-color: #8C6C8C;
}

footer {
    padding-top: 36px;
    padding-bottom: 42px;
    background-color: #835252;
}

.footer {
    height: 44px;
    margin-left: 471px;
    margin-right: 471px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#botNav {
    padding: 0;
    display: flex;
}

.bpic {
    height: 44px;
    width: 44px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}

.afoot {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #BB9A4E;
}

/* end Template */



main {
    display: grid;
}


header div.hamburger {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    display: none;
}

p {
    text-align: center;
    text-transform: uppercase;
}

.image {
    height: 732px;
    position: relative;
}

.writing {
    position: absolute;
    left: 55%;
    top: 40%;
    color:white;
    display: flex;
    flex-direction: column;

}

.writing > h2 {
    margin-bottom: 10px;
    padding: 23px 27px 20px 27px;
    background: #835252;
    opacity: .8;
}

.writing > span {
    font-size: 23px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 12px 27px;
    background: #8C6C8C;
    opacity: .8;
}

.readMore {
    border: 3px solid white;
    width: fit-content;
    border-radius: 5px;
    background: white;
    padding: 12px 27px;

}
#home {
    height: 732px;
    width: 100%;
    object-fit: cover;
}

#homePictures {
    height: 339px;
    display: flex;
    margin-left: 146px;
    margin-right: 146px;
    justify-content: center;
    align-items: center;
}

.hpic {
    height:fit-content;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.ipic {
    height: 242px;
    border: 2px solid black;
}

@media(max-width: 576px) {

h1 {
    font-size: 35px;
}

header {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

/* header nav {
    display: none;
} */

/* header div.hamburger {
    display: flex;
} */

/* Hamburger */

/* #hamBar {
    width: 100%;
    position: absolute;
    text-align: center;
    transition: transform 400ms ease-in-out;
    transform: scale(1,0);
    transform-origin: top;
    color: black;
    text-decoration: none; 
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
}

.nav-toggle:checked ~ nav
{
transform:scale(1);
}

.nav-toggle
{
display:none;
}

.toggle-label 
{
position: absolute;
top:0; 
right:25%;
margin-right:1rem;
height: 50px;
display: flex;
align-items: center;

}

.toggle-label span
{
display: block;
background: white;
height: 2px;
width: 2rem;
position: relative;
}

.toggle-label span::before {
 bottom: .4rem;
 background: white;
 height: 2px;
 width: 2rem;
 content: '';
 position: absolute;
}

.toggle-label span::after
{
  top: .4rem;
  background: white;
height: 2px;
width: 2rem;
  content: '';
 position: absolute;
}

.toggle-label{
    display: none; 
  }
  
header {
  display: flex; 
  justify-content: space-around;
  }
  
 .hamBar {
   all: unset;
   color: white;
   display: flex; 
  }

  .hamBar a {
   opacity: 1;
  }

  .hamBar ul {
   display: flex; 
  }

  .hamBar ul li {
   margin: 2rem;
  } */

/* Hamburger */

main {
    margin: 0;
  }

footer {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 25px;
  }

.footer {
    margin: 0;
  }

.readMore {
    border: 0;
    padding: 10px;
    margin-top: 5px;
}

.image {
    height: 369px;
}
  
#home {
    height: 369px;
    position: relative;
}

.writing {
    position: absolute;
    top: 0;
    left: 0;
}

.writing > h2 {
    margin-bottom: 10px;
    margin-top: 50px;
    padding: 8px 5px;
    background: #835252;
    opacity: .8;
    font-size: 13px;
}

.writing > span {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    background: #8C6C8C;
    opacity: .8;
}

#homePictures {
    height: 1200px;
    margin: 0;
    flex-direction: column;
  }
  
.ipic {
    height: 346px;
}

p {
    font-size: 12px;
  }


}