/* Color Scheme
French Lilac (#8C6C8C)
Rosy Brown (#B8898B)
Dark Vanilla (#CFC3A6)
Aztec Gold (#BB9A4E) 
Tuscan Red (#835252)
Royal Brown (#553B31) */

/* Main */

body {
    background-color: #CFC3A6;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 260px;
    background-color: #835252;
    padding-top: 44px;
    padding-bottom: 50px;
    margin-left: 471px;
    margin-right: 471px;
}

.logoName {
    margin-left: 310px;
    margin-right: 310px;
    width: 340px;
}

h1 { 
    text-align: center;
    font-size: 50px;
}
nav {
    padding-top: 56px;
    text-align: center;
}

.topBar {
    padding-left: 19px;
    padding-right: 19px;
}

main {
    flex: 1;
    background-color: #8C6C8C;
}

footer {
    padding-top: 36px;
    padding-bottom: 42px;
    background-color: #835252;
}

.footer {
    height: 44px;
    margin-left: 471px;
    margin-right: 471px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#botNav {
    padding: 0;
    display: flex;
}

.bpic {
    height: 44px;
    width: 44px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}

.afoot {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #BB9A4E;
}

/* end Template */



main {
    display: grid;
}


header div.hamburger {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    display: none;
}

p {
    text-align: center;
    text-transform: uppercase;
}

.image {
    height: 732px;
    position: relative;
}

.writing {
    position: absolute;
    left: 55%;
    top: 40%;
    color:white;
    display: flex;
    flex-direction: column;

}

.writing > h2 {
    margin-bottom: 10px;
    padding: 23px 27px 20px 27px;
    background: #835252;
    opacity: .8;
}

.writing > span {
    font-size: 23px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 12px 27px;
    background: #8C6C8C;
    opacity: .8;
}

.readMore {
    border: 3px solid white;
    width: fit-content;
    border-radius: 5px;
    background: white;
    padding: 12px 27px;

}
#home {
    height: 732px;
    width: 100%;
    object-fit: cover;
}

#homePictures {
    height: 339px;
    display: flex;
    margin-left: 146px;
    margin-right: 146px;
    justify-content: center;
    align-items: center;
}

.hpic {
    height:fit-content;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.ipic {
    height: 242px;
    border: 2px solid black;
}

@media(max-width: 576px) {
    header nav {
        display: none;
    }

    header div.hamburger {
        display: flex;
    }
  }
  